@model TrackAnalyser.Models.ViewModels.TrackDetailsViewModel
@using TrackAnalyser.Utilities
<br />
<br />
<div class="col">
    <div class="col-md-5 offset-md-1"><p>Author: @Model.Author</p></div>
    <div class="col-md-5 offset-md-1"><p>Duration: @Model.Duration</p></div>
    <div class="col-md-5 offset-md-1"><p>Description: @Model.Description</p></div>
    <div class="col-md-5 offset-md-1"><p>Version: @Model.Version </p></div>
</div>
<br />
<br />
<div class="col text-center">
    <h2>Play count from last @StaticDetails.AMOUNT_OF_DAY days</h2>
</div>
<div class="col-lg-6 offset-lg-3">
    <canvas id="barChart"></canvas>
</div>
<br />
<br />
<div class="col text-center">
    <h2>Total play count from all canals</h2>
</div>
<div class="col-lg-6 offset-lg-3">
    <canvas id="pieChart"></canvas>
</div>

@* data for charts creating *@

<p hidden id="barChartData">
    @Model.LastPlayed
</p>
<p hidden id="pieChartData">
    @Model.Canals
</p>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/TrackDetails/chart.js"></script>