@model TrackAnalyser.Models.ViewModels.TrackDetailsViewModel
<br />
<br />
<div class="col">
    <div class="col-md-5 offset-md-1"><p>Author: @Model.Author</p></div>
    <div class="col-md-5 offset-md-1"><p>Duration: @Model.Duration</p></div>
    <div class="col-md-5 offset-md-1"><p>Description: @Model.Description</p></div>
    <div class="col-md-5 offset-md-1"><p>Begin at: @Model.Begin </p></div>
    <div class="col-md-5 offset-md-1"><p>Canal: @Model.CurrentCanal.Name</p></div>
</div>
<br />
<br />
<div class="col-lg-6 offset-lg-3">
    <canvas id="barChart"></canvas>
</div>
<br />
<br />
<div class="col-lg-6 offset-lg-3">
    <canvas id="pieChart"></canvas>
</div>

@* data for charts creating *@

<p hidden id="barChartData">
    @Model.LastPlayedWeek
</p>
<p hidden id="pieChartData">
    @Model.Canals
</p>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/chart.js"></script>