@model TrackAnalyser.Models.ViewModels.BroadcastListViewModel
<div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-5 mt-1">
            <input type="text" class="form-control" placeholder="Find the track you are looking for...">
        </div>
        <div class="col-md-2">
            <a class="btn btn-light btn-block mt-1" asp-action="" asp-route-id="" type="submit">search</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    @* <div>
            <select class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">emision</option>
                <option value="2">canal</option>
                <option value="3">duration</option>
                <option value="4">information</option>
            </select>
        </div>*@
    <br />
    <br />
    <br />
    <div class="row d-flex">
        <div class="col-md-2 m-1 d-flex">
            <button class="btn btn-light flex-fill">emision</button>
        </div>
        <div class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">canal</button>
        </div>
        <div id="duration" class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">duration</button>
        </div>
        <div class="col-md-2  m-1 d-flex">
            <button class="btn btn-light flex-fill">information</button>
        </div>
    </div>
    <br />
    <div id="showTrack">
        @await Html.PartialAsync("_ShowTracks", Model)
    </div>
    @* <div class="list-group">
            @foreach (var element in Model.TrackEmissions)
            {
                <a asp-action="Index" asp-controller="TrackDetails" asp-route-trackId="@element.TrackId" class="list-group-item list-group-item-action">
                    <div class="d-flex flex-row mb-1 mt-1">
                        <div class="col-md-4">
                            <picture>
                                <img src=@element.TrackPicturePath class="rounded img-fluid img-thumbnail" style="max-width:100%">
                            </picture>
                        </div>
                        <div class="row ml-1 flex-fill">
                            <div class="col-md-5"><p>@element.TrackDescription</p></div>
                            <div class="col-md-7">
                                <div class="col"><p>Track: @element.TrackName</p></div>
                                <div class="col"><p>Artist: @element.ArtistName</p></div>
                                <div class="col"><p>Start at: @element.EmissionDate</p></div>
                                <div class="col"><p>Canal: @element.CanalName</p></div>
                                <div class="col"><p>Duration: @element.EmissionTime</p></div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>*@
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/showTracks.js"></script>