@model TrackAnalyser.Models.ViewModels.UserManagementViewModel.UserManagementViewModel

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">User Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in Model.UserEmails.Select((value, index) => (value, index)))
            {
                int no = element.index + 1;
                <tr>
                    <th scope="row">@no</th>
                    <td>@element.value</td>
                    <td>
                        <a class="btn btn-info text-white mr-1" data-toggle="modal" data-target="#@("element"+no)">Edit</a>
                        <a class="btn btn-danger" asp-action="DeleteUser" asp-route-userEmail="@element.value">Delete</a>

                        <div class="modal fade" id="@("element"+no)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Email</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="post" asp-action="EditUser">
                                        <div class="modal-body">
                                            <div class="form-group col-md-8">
                                                <label>Current Email</label>
                                                <input value="@element.value" disabled class="form-control">
                                                <input type="hidden" asp-for="@element.value" name="email" class="form-control" placeholder="Enter email">
                                            </div>
                                            <div class="form-group col-md-8">
                                                <label asp-for="NewEmail"></label>
                                                <input asp-for="NewEmail" type="email" name="newEmail" class="form-control" placeholder="Enter email">
                                                <span asp-validation-for="NewEmail" class="text-danger"></span>
                                            </div>
                                       </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>