@model TrackAnalyser.Models.ViewModels.UserManagementViewModel.UserManagementViewModel
@using TrackAnalyser.Utilities

<div>
    <br />
    <br />

    <div >
        <form method="post" asp-action="AddUser">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="@Model.NewUser.NewUserEmail"></label>
                <input asp-for="@Model.NewUser.NewUserEmail" type="email" class="form-control" placeholder="Enter email">
                <span asp-validation-for="@Model.NewUser.NewUserEmail" class="text-danger"></span>
            </div>
            <div  class="form-group col-md-5">
                <button type="submit" class="btn btn-primary">Add User</button>
            </div>
        </form>

    </div>
    <div class="text-center">
        <p style="font-size:xx-large">Users </p>
    </div>
    <br />
    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">User Email</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var element in Model.UserEmails.Select((value, index) => (value, index)))
                {
                    int no = element.index + 1;
                    <tr>
                        <th scope="row">@no</th>
                        <td>@element.value</td>
                        <td><a class="btn btn-danger" asp-action="DeleteUser" asp-route-userEmail="@element.value">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>